<div class="container">


  <div class="row">
    <div class="col s12">
      <div class="card-label z-depth-1 col s12" style="padding: 8px 34.5px;">ログイン</div>
      <div class="card z-depth-1 col s12" style="margin-top: 0;">
        <div class="card-content col s12">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              <%= f.label :email %>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <%= f.password_field :password, autocomplete: "current-password" %>
              <%= f.label :password %>
            </div>
  　　　　　　　<div class="center">
              <%= f.button 'ログイン', class: 'btn waves-effect waves-light', type: 'submit' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <%= render "users/shared/links" %>
    </div>
  </div>


</div>
