<div class="container">

  <% if @user.lodestone_id == nil %>

    <div class="row">
      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">キャラクター</div>
          <div class="card-content">
            <% if @user == current_user %>
              <%= form_with url: {:controller => :users, :action => :import}, data: {remote: false} do |f| %>
                <div class="input-field">
                  <i class="material-icons prefix">import_contacts</i>
                  <%= f.text_field :lodestone_id %>
                  <%= f.label :"lodestone_id", "○○○○○○○○" %>
                  <span class="helper-text">LodestoneのキャラクターID (https://jp.finalfantasyxiv.com/lodestone/character/○○○○○○○○/) を入力</span>
                </div>
                <div class="center">
                  <%= f.button '読み込む', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
                </div>
              <% end %>
            <% else %>
              <div class="valign-wrapper">
                <%= image_tag "no_image.png", class: "character-image-lg" %>
                <div class="valign-wrapper"><i class="material-icons">person</i>キャラクターが読み込まれていません</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="row">
      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">キャラクター</div>
          <div class="card-content">
            <div class="valign-wrapper">
              <%= image_tag @user.image_url, class: "character-image-lg" %>
              <div>
                <div class="valign-wrapper character-prof"><i class="material-icons">person</i><%= @user.name %></div>
                <div class="valign-wrapper character-prof"><i class="material-icons">place</i><%= @user.world %></div>
                <div class="valign-wrapper character-prof"><i class="material-icons">star</i>RANK: #1</div>
                <div class="valign-wrapper character-prof">
                  <i class="material-icons">import_contacts</i><%= link_to "Lodestone", "https://jp.finalfantasyxiv.com/lodestone/character/" + @user.lodestone_id.to_s + "/", target: :_blank %>
                </div>
              </div>
            </div>
          </div>
          <% if @user == current_user %>
            <div class="card-action valign-wrapper">
              <i class="material-icons">sync</i><%= link_to "同期", {controller: 'users', action: 'import'}, method: :post %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">ミニオン取得率</div>
          <div class="card-content">
            <div class="valign-wrapper">
              <span class="rate-title-lg" style="margin-left: auto;">
                <%= @user.user_minions.count %>
              </span>
              <span class="rate-title-sm">
                /<%= @minions.count %>(<%= (@user.user_minions.count / @minions.count.to_f * 100).round(1) %>%)
              </span>
              <div style="margin-right: auto;">
                <%= pie_chart @possession_rate, suffix: "個", width: "300px" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">ミニオン</div>
          <div class="card-content">
            <div>
              <% @minions.each do |minion| %>
                <% if minion.owned_by?(@user) %>
                    <%= image_tag "#{minion.image_url}", class: "minion-image-sm"%>
                <% else %>
                  <%= image_tag "#{minion.image_url}", class: "minion-image-sm", style: "opacity: 0.2" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">カテゴリー 構成比率</div>
          <div class="card-content">
            <%= pie_chart @component_rate, suffix: "個" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card hoverable z-depth-1">
          <div class="card-label">カテゴリー コンプリート率</div>
          <div class="card-content">
            <%= bar_chart @complete_rate, min: 0, max: 100, suffix: "%" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>
