<div class="body">
  <div class="container">

    <% if @user.url == nil %>

      <div class="row">
        <div class="col s12">
          <div class="content__title z-depth-1">
            <strong>キャラクター</strong>
          </div>
          <div class="content__body z-depth-1">
            <% if @user == current_user %>
              <%= form_with url: {:controller => :users, :action => :import}, data: {remote: false} do |f| %>
                <div class="input-field">
                  <i class="material-icons prefix">import_contacts</i>
                  <%= f.text_field :url %>
                  <%= f.label :"url", "https://jp.finalfantasyxiv.com/lodestone/character/○○○○○○○○/" %>
                  <span class="helper-text">LodestoneのURLを入力してキャラクターを読み込みましょう</span>
                </div>
                <div class="center">
                  <%= f.button '読み込む', class: 'btn waves-effect waves-light', type: 'button', onclick: 'submit();' %>
                </div>
              <% end %>
            <% else %>
              <div class="center">
                キャラクターが読み込まれていません
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>

      <div class="row">
        <div class="col s12">
          <div class="content__title z-depth-1">
            <strong>キャラクター</strong>
          </div>
          <div class="content__body z-depth-1">
            <div class="user__profile--data">
              <%= image_tag @user.image_url, class: "header__character-image" %>
              <i class="material-icons">person</i><%= @user.name %>
              <i class="material-icons">place</i><%= @user.server %>
              <i class="material-icons">star</i>RANK: #1
              <i class="material-icons">import_contacts</i><%= link_to "Lodestone", @user.url, target: :_blank %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="content__title z-depth-1">
            <strong>ミニオン取得数</strong>
          </div>
          <div class="content__body z-depth-1">
            <div class="user__profile--button">
              <% if @user == current_user %>
                <%= link_to "同期", {controller: 'users', action: 'sync'}, method: :post, class: "btn waves-effect waves-light" %>
                <a class="waves-effect waves-light btn">ツイートする</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="content__title z-depth-1">
            <strong>カテゴリー</strong>
          </div>
          <div class="content__body z-depth-1">
          </div>
        </div>
        <div class="col s6">
          <div class="content__title z-depth-1">
            <strong>カテゴリー</strong>
          </div>
          <div class="content__body z-depth-1">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="content__title z-depth-1">
            <strong>お気に入り</strong>
          </div>
          <div class="content__body z-depth-1">
          </div>
        </div>
        <div class="col s6">
          <div class="content__title z-depth-1">
            <strong>おすすめ</strong>
          </div>
          <div class="content__body z-depth-1">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="content__title z-depth-1">
            <strong>ミニオン</strong>
          </div>
          <div class="content__body z-depth-1">
            <div class="">
              <div class="chip">TOTAL: 367</div>
            </div>
            <div class="user__minion-sort--list">
              <% @minions.each do |minion| %>
                <div class="user__minion-sort--image">
                  <%= image_tag "#{minion.image_url}" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>


