<div class="container">


  <div class="row">
    <div class="card-label z-depth-1 col s12" style="padding: 8px 34.5px;">このサイトについて</div>
    <div class="card z-depth-1 col s12" style="margin-top: 0;">

      <div class="card-content col s12">
        <h4 class="center">FF14MINIONS</h4>
        <div class="center">
          FF14MINIONSは、オンラインゲーム<%= link_to "Final Fantasy XIV", "https://jp.finalfantasyxiv.com/", target: :_blank %>のコレクション要素"ミニオン"の取得率チェックサイトです。
        </div>
      </div>

      <div class="card-content col s12">
        <h4 class="center">ミニオンとは</h4>
        <div class="center">
          <%= image_tag "image1.png", class: "circle", width: "80px", style: "background-color: #FFEFD5;" %>
          <%= image_tag "image2.png", class: "circle", width: "80px", style: "background-color: #FFEFD5;" %>
          <%= image_tag "image3.png", class: "circle", width: "80px", style: "background-color: #FFEFD5;" %>
          <%= image_tag "image4.png", class: "circle", width: "80px", style: "background-color: #FFEFD5;" %>
          <%= image_tag "image5.png", class: "circle", width: "80px", style: "background-color: #FFEFD5;" %>
          <%= image_tag "image6.png", class: "circle", width: "80px", style: "background-color: #FFEFD5;" %>
        </div>
        <div class="center">
          ミニオンとは、ゲーム内で連れて歩けるペットのようなものです。一緒にたたかってくれたりステータスが上がる訳ではありませんが、その愛らしい見た目から人気のコレクション要素の一つになっています。そんなミニオンですが、<%= Date.current.strftime('%Y/%m/%d') %>時点で<strong>全<%= Minion.count %>体</strong>ゲーム内に実装されています。ミニオン収集をする上で、まだ持っていないミニオンを簡単に確認できる場があったら便利だなという思いで当サイトを立ち上げました。みなさんのミニオン収集のパートナーとして、ぜひ当サイトをご利用ください。
        </div>
      </div>

      <div class="card-content col s12">
        <h4 class="center">このサイトでできること</h4>
        <div class="col s4 center">
          <h2 class="blue-text"><i class="material-icons large">person</i></h2>
          <h5>キャラクター</h5>
          <p>取得済み/未取得ミニオンの一覧、取得率や統計をグラフ表示できます。</p>
        </div>
        <div class="col s4 center">
          <h2 class="blue-text"><i class="material-icons large">import_contacts</i></h2>
          <h5>インポート</h5>
          <p>Lodestoneからキャラクターをインポートできます。インポートされたキャラクターは、以降自動的に更新されます。</p>
        </div>
        <div class="col s4 center">
          <h2 class="blue-text"><i class="material-icons large">equalizer</i></h2>
          <h5>ランキング</h5>
          <p>インポートされたキャラクターの中からランキングを作成、表示できます。</p>
        </div>
      </div>

      <div class="card-content col s12">
        <h4 class="center">ログインすると...</h4>
        <div class="col s4 center">
          <h2 class="blue-text"><i class="material-icons large">account_circle</i></h2>
          <h5>マイキャラクター</h5>
          <p>マイキャラクターを設定し、ヘッダーやサイドバーからすぐにアクセスできます。</p>
        </div>
        <div class="col s4 center">
          <h2 class="blue-text"><i class="material-icons large">star</i></h2>
          <h5>ブックマーク</h5>
          <p>お気に入りのキャラクターやフレンドのキャラクターをブックマークできます。</p>
        </div>
        <div class="col s4 center">
          <h2 class="blue-text"><i class="material-icons large">compare_arrows</i></h2>
          <h5>比較</h5>
          <p>マイキャラクターと他のキャラクターのミニオン取得数を比較できます。</p>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="card-label z-depth-1 col s12" style="padding: 8px 34.5px;">Twitterアカウント</div>
    <div class="card z-depth-1 col s12" style="margin-top: 0;">
      <div class="card-content col s12">
        <div class="valign-wrapper">
          <div>
            <%= image_tag "https://pbs.twimg.com/profile_images/1241678805325889539/ixmLxb5o_200x200.png", class: "circle character-image-lg", width: "80px" %>
          </div>
          <div>
            <p>更新情報やお知らせをツイートしています。</p>
            <a href="https://twitter.com/ff14minions?ref_src=twsrc%5Etfw"
              class="twitter-follow-button"
              data-size="large"
              data-show-screen-name="false"
              data-lang="ja"
              data-show-count="false">フォローする</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
