<div class="container">


  <%= render "users/shared/error_messages", resource: resource %>


  <div class="row">
    <div class="col s12">
      <div class="card-label z-depth-1 col s12" style="padding: 8px 34.5px;"><%= t('.forgot_your_password') %></div>
      <div class="card z-depth-1 col s12" style="margin-top: 0;">
        <div class="card-content col s12">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              <%= f.label :email %>
            </div>
            <div class="center">
              <%= f.button t('.send_me_reset_password_instructions'), class: 'btn waves-effect waves-light', type: 'submit', data: { disable_with: t('.send_me_reset_password_instructions') %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <%= render "users/shared/links" %>
    </div>
  </div>


</div>
