<!DOCTYPE html>
<html>


  <head>
    <title>FF14MINIONS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>


  <body>


    <nav>
      <div class="nav-wrapper">
        <%= link_to 'FF14MINIONS', root_path, class: "brand-logo" %>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <%= link_to characters_path do %>
                <i class="material-icons prefix">search</i>
              <% end %>
            </li>
            <li><%= link_to 'このサイトについて', about_path %></li>
            <li><%= link_to 'ミニオン', minions_path %></li>
            <li><%= link_to 'ランキング', rankings_path %></li>
            <li>
              <!-- ドロップダウンのトリガー -->
              <a class="dropdown-trigger valign-wrapper" href="#!" data-target="dropdown1">

                <% if user_signed_in? %>

                  <% if current_user.current_character_id.present? %>
                    <%= image_tag "#{current_character.image_url}", class: "character-image-sm" %>
                    <%= current_character.name %>
                  <% else %>
                    <%= image_tag "no_image.png", class: "character-image-sm" %>
                    マイキャラクターを選択していません
                  <% end %>

                <% else %>

                  <%= image_tag "no_image.png", class: "character-image-sm" %>
                  ログインしてください

                <% end %>

                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>

          <!-- サイドバーのトリガー -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

          <ul id="nav-mobile" class="right show-on-medium-and-down hide-on-med-and-up">
            <li>
              <%= link_to characters_path do %>
                <i class="material-icons">search</i>
              <% end %>
            </li>
          </ul>

      </div>
    </nav>



    <!-- サイドバーの内容 -->
    <ul class="sidenav" id="mobile-demo">

        <li><%= link_to 'このサイトについて', about_path %></li>
        <li><%= link_to 'ミニオン', minions_path %></li>
        <li><%= link_to 'ランキング', rankings_path %></li>
        <li class="divider"></li>

        <% if user_signed_in? %>

          <% if current_user.current_character_id.present? %>
            <li><%= link_to 'マイキャラクター', character_path(current_character) %></li>
          <% else %>
            <li><%= link_to 'マイキャラクターを検索', characters_path %></li>
          <% end %>

          <% if current_user.uid.nil? %>
            <li><%= link_to 'アカウント', root_path %></li>
          <% end %>

          <li class="divider"></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>

        <% else %>

          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path %></li>
          <li class="divider"></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>

        <% end %>

    </ul>


    <!-- ドロップダウンの内容 -->
    <ul id="dropdown1" class="dropdown-content">

      <% if user_signed_in? %>

        <% if current_user.current_character_id.present? %>
          <li><%= link_to 'マイキャラクター', character_path(current_character) %></li>
        <% else %>
          <li><%= link_to 'マイキャラクターを検索', characters_path %></li>
        <% end %>

        <% if current_user.uid.nil? %>
          <li><%= link_to 'アカウント', root_path %></li>
        <% end %>

        <li class="divider"></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>

      <% else %>

        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path %></li>
        <li class="divider"></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>

      <% end %>

    </ul>


    <main>
      <%= yield %>
    </main>


    <footer class="page-footer">
      <div class="container">
        <p>記載されている会社名・製品名・システム名などは、各社の商標、または登録商標です。</p>
        <p>Copyright (C) 2010 - 2020 SQUARE ENIX CO., LTD. All Rights Reserved.</p>
      </div>
    </footer>


  </body>


  <script>
    $( document ).ready(function () {
      $('.dropdown-trigger').dropdown();
      $('.sidenav').sidenav();
      $('ul.tabs').tabs();
      $('a[data-toggle="tab"]').click(function(e) {
        if (history.replaceState) {
          history.replaceState(null, null, '#' + $(e.target).attr('href').substr(1));
        } else {
          location.hash = '#' + $(e.target).attr('href').substr(1);
        }
        $(window).trigger('hashchange');
      });
    });
  </script>


</html>
