<!DOCTYPE html>
<html>

  <head>
    <title>FF14MINIONS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <%= link_to 'FF14MINIONS', root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to 'このサイトについて', about_path %></li>
            <li><%= link_to 'ミニオン', minions_path %></li>
            <li><%= link_to 'ランキング', root_path %></li>
            <li>
              <% if current_user.url == nil %>
                <%= image_tag "no_image.png", class: "header__character-image" %>
              <% else %>
                <%= image_tag current_user.image_url, class: "header__character-image" %>
              <% end %>
            </li>
            <!-- ドロップダウンのトリガー -->
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                <% if current_user.url == nil %>
                  キャラクターが読み込まれていません
                <% else %>
                  <%= current_user.name %>
                <% end %>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <!-- ドロップダウンの内容 -->
            <ul id="dropdown1" class="dropdown-content">
              <li class="divider"></li>
                <li><%= link_to 'キャラクター', user_path(current_user) %></li>
                <li><%= link_to 'アカウント', root_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </ul>
            </ul>
          <% else %>
            <li><%= link_to 'このサイトについて', about_path %></li>
            <li><%= image_tag "no_image.png", class: "header__character-image" %></li>
            <!-- ドロップダウンのトリガー -->
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                ログインしてください
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <!-- ドロップダウンの内容 -->
            <ul id="dropdown1" class="dropdown-content">
              <li class="divider"></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
                <li><%= link_to 'Twitterでログイン', root_path %></li>
                <li><%= link_to '新規登録', new_user_registration_path %></li>
            </ul>
          <% end %>
        </ul>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="container">
        <h5 class="white-text">FF14MINIONS</h5>
        <p class="white-text">Final Fantsy XIVのコレクション要素"ミニオン"の取得状況ランキングサイトです。</p>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p class="white-text">Copyright (C) 2010 - 2020 SQUARE ENIX CO., LTD. All Rights Reserved.</p>
        </div>
      </div>
    </footer>

  </body>

  <script>
    $( document ).ready(function () {
      $(".dropdown-trigger").dropdown();
    });
  </script>

</html>
